.App_Image_container {
  background-color: #fafbff;
  justify-content: space-evenly;

  .App_Image_text {
    width: 45%;
    text-align: center;

    h2 {
      color: #4f5774;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      color: #a6b0cb;
    }
  }

  .App_Image {
    width: 100%;
    height: 50%;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
