* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App_section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f8;
  overflow: hidden;
}

.App_container {
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  box-shadow: 1px 1px 4px #aaaaaa;
  border-radius: 6px;
  overflow: hidden;
}

.App_container > div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App_Image_container {
  background-color: #fafbff;
  justify-content: space-evenly;
}

.App_Image_container .App_Image_text {
  width: 50%;
  text-align: center;
}

.App_Image_container .App_Image_text h2 {
  color: #4f5774;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.App_Image_container .App_Image_text p {
  color: #a6b0cb;
}
.App_Image_container .App_Image {
  width: 100%;
  height: 50%;
}
.App_Image_container .App_Image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.App_Data_container {
  justify-content: center;
  background-color: #ffffff;
}
